.op-attachment-preview-modal
  &--body
    display: flex
    flex-direction: column
    min-height: 60vh

  &--iframe
    flex: 1 1 auto
    width: 100%
    min-height: 60vh
    border: none

  &--no-preview
    white-space: pre-wrap
